extends layout

block content

        .col-lg-12
            .row.text-center.d-flex.justify-content-center
              .col-lg-4
                .statsInfo#supplyInfoupdateheight
                .statsInfo#supplyInfotransparentsupply
                .statsInfo#supplyInfoshieldsupply
                .statsInfo#supplyInfototalsupply
              .col-lg-4
                .statsInfo#statsBlockcount
                .statsInfo#statsprotocolversion
                .statsInfo#statsrelayfee
                .statsInfo#statsversion
            
